.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.verticalTab {
	background-color: #1976d2;
	color: white;
	min-height: 100vh;
}

.content {
    width: 500px;
    min-height: 100vh; 
}
