.formContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.formContainerHorizontal {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.formRow {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
