.container {
	padding: 10px;
}

.formContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.formContainerHorizontal {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.formRow {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.formRow > div {
	width: 100%;
}

.formRow span {
	text-decoration: underline;
	cursor: pointer;
}

.swapSpan {
	margin-left: 15px;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}